<!DOCTYPE html>
<html>
<head lang="en">
    	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
    	<title>WOT-4-DINZ</title>
</head>

<body>
    
    <form action="/mgr" method="get">
        <div class="littlebutton"><button type="submit" value="Add/Remove Meals">ADD/RMV MEALS</button></div>
    </form>    
    
    <h2>{{ pre }}</h2>
    <div class="suggestion"><h1>{{ food }}</h1></div>
    

    <form action="/" method="get">
        <div class="bigbutton"><button type="submit" value="Try Again">NO.</button></div>
    </form>

</body>
</html>
